body {
    background-image: url("bg.png");
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    margin-top: 0%;
    margin-left: 460px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    color: none;
    text-decoration: none;
    list-style: none;
    padding: 10px 10px 10px 10px;
    
}

.Nav-bar {
    background-color: black;
    position: fixed;
    top: 0%;
    right: 10%;
    padding: 0%;
    border-radius: 0px 0px 10px 10px;
    
}

.Nav-bar-list {
    display: flex;
    padding: 0;
    margin: 0;
    
}

a:hover {
    color:  rgb(75, 92, 124);
}

.Header {
    padding-top: 600px;
    padding-left: 400px;
    font-size: 80px;
    color: white;
    font-family: sans-serif;
    line-height: none;

}

.Halbkreis {
    background: rgb(75, 92, 124);
    border-radius: 50%;
    height: 1000px;
    width: 1000px;
    margin-top: -800px;
    margin-left: 300px;
}

.Kreisinhalt {
    color: white;
    text-align: left;
    width: 400px;
    margin-top: -120px;
    margin-left: 400px;

}

h3 {
    text-align: center;
}

.I-Logo {
    width: 50px;
    height: 50px;
    margin-left: 400px;
    margin-top: 30px;
    opacity: 0.7;
   
}

.I-Logo:hover {
    opacity: 100%;
}

.Fotos {
    display: block;
    width: 800px;
    margin-left: 300px;
    margin-right: 200px;
    
}

.Animation {
    display: block;
    width: 800px;
    margin-left: 300px;
    margin-right: 200px;
}

h1 {
    color:  rgb(75, 92, 124);
    margin-left: 300px;
}

/*Kontakt*/

.Kontakt {
    width: 300px;
    margin-left: 300px;
    margin-top: 700px;

}

.p2 {
    width: 100px;
    background-color: rgb(185, 182, 182);
    color: white;


}

.Formular p {
    color: rgb(185, 182, 182);
}

.button {
    color: white;
    background-color:  rgb(185, 182, 182);
}

.Kontakt h1 {
    color: rgb(75, 92, 124);
    margin-left: -100px;
}

.Formular {
    width: 900px;
    height: 100px;
    margin-left: 200px;
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    padding: 7px 20px; /*oben und unten*/
    margin: 5px 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(214, 212, 212);
}

/*About me*/

.Aboutme {
    margin-top: 200px;
    font-family: sans-serif;
}

.Aboutme h1 {
    color: rgb(170, 189, 82);
    font-size: 30px;
    margin-left: 10px;
    font-family: fantasy;
}

.Aboutme h2 {
    color: rgb(170, 189, 82);
    font-size: 30px;
    margin-left: 10px;
}

.Logo {
    margin-left: -40px;
    margin-top: -350px;
}

/*Test: Schauen ob die aktuelle Seite angezeigt wird*/

.AktuelleSeite {
    background-color: rgb(170, 189, 82);
    border-bottom-left-radius: 1ch;
}

.AktuelleSeite2 {
    background-color: rgb(170, 189, 82);
}

.AktuelleSeite3 {
    background-color: rgb(170, 189, 82);
    border-bottom-right-radius: 1ch;
}

/*So kann ich mir Notizen aufschreiben*/